{% extends 'App1/base.html'%}
{% block head_block %}
<title> Add Product </title>
{% endblock %}
{% block body_block %}
<div class = "jumbotron">
  <h1> Fill in the product information </h1>
  <form method = "POST" enctype = "multipart/form-data">
    {% csrf_token %}
    {{product_form.as_p}}
    {{product_form.media}}       
    {% if product_error_flag %}
    <h3> Please fill in all product information </h3>
    {% endif %}

    <input type = "submit" value = "Sell">
  </form>
</div>
{% endblock %}
