        <!DOCTYPE html>
{% extends 'App1/base.html'%}
<title>Favourite List</title>
{% block body_block %}


<h1 style="text-align:center">WELCOME TO YOUR FAVOURITES LIST!</h1>
        <!-- Wishlist Start -->
        <div class="wishlist-page">
            <div class="container-fluid">
                <div class="wishlist-page-inner">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>Product</th>
                                            <th>Price</th>
                                            <th>Add to Cart</th>
                                            <th>Remove</th>
                                        </tr>
                                    </thead>
                                    <tbody class="align-middle">
                                    {% for product in new %}
                                        <tr>
                                            <td>
                                            <a href="{%url 'App1:product_details' product.id%}">
                                                <div class="img">
                                                   <a href="{%url 'App1:product_details' product.id%}">
                                            <img src="{{product.picture.url}}" alt="Product Image" height=100px width=100px></a>
                                                    <p><a href="{%url 'App1:product_details' product.id%}">{{product.name}}</a></p>
                                                </div>
                                            </td>
                                            <td>{{product.currency}}{{product.price}}</td>
                                             {% if  request.user.is_authenticated %}
                                            <td><a href="{%url "App1:update_cart" product.id %}"><button class="btn-cart">Add to Cart</button></a></td>
                                            <td> <a href="{%url 'App1:favourite_add' product.id%}"><button><i class="fa fa-trash"></i></button></a></td>
                                            {% endif %}
                                        </tr>
                                    </tbody>
                                     {% endfor %}
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Wishlist End -->
         {% endblock body_block %}
       